@charset "UTF-8";

th.title {
	font-size: 20px;
	font-family: malgun;
	color: #ffffff;
	background-color: #0081C9;
	text-align: center;
	border: 1px solid #ffffff;
}

th.content01 {
	font-size: 18px;
	font-family: malgun;
	color: #606060;
	background-color: #bbe8ff;
	text-align: center;
	border: 1px solid #d0efff;
}

td.content02 {
	font-size: 18px;
	font-family: malgun;
	color:#606060; 
	background-color: #bbe8ff;
	text-align: left;
	border: 1px solid #d0efff;
}