@charset "UTF-8";

td.contentbox {
	background-color: #B8E7E1;
	height: 510px;
}

td.content_text {
	font-size: 20px;
	font-family: malgun;
	font-weight: bold;
	color: #808080;
	text-align: right;
}

input.inputbox01 {
	border: 1px solid #808080;
	background-color: #ffffff;
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color: black;
	padding: 5px;
}

input.content_btn01 {
	border: 1px solid #808080;
	background-color: #ffffff;
	width: 180px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #808080;
	font-weight: bold;
	padding: 5px;
}
input.content_btn01:hover {
	border: 1px solid #808080;
	background-color: #FDE49C;
	width: 180px;
	height: 40px;
	font-family: malgun;
	font-size: 20px;
	color: #808080;
	font-weight: bold;
	padding: 5px;
	cursor: pointer;
}

textarea.textareabox {
	border: 1px solid #808080;
	background-color: #ffffff;
	width: 250px;
	font-family: Arial;
	font-size: 20px;
	color: black;
	padding: 5px;
}